.carousel-size{
    width: 100px;
    max-height: 400px;
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.carousel-item{
    height: 600px;
    width: 600px;
}

.get-started-link-container {
    margin-top: 40px;
}


.image-bottom-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.image-bottom {
    height: 300px ;
    width: 300px;
    background-color:  rgba(25,220,184,.7);
    border-radius: 15px;
}
