.App {
  text-align: center;
  background-image: url(https://images.pexels.com/photos/2559624/pexels-photo-2559624.png?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 17px;
}

