.card-sm{
    max-width: 400px;
    margin: 30px auto;
    
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

.Add{
    border: -20px;
    font-size: 50px;
    background-color: rgba(255, 255, 255, .2);
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
    color: white;
    font-weight: 800;
}