.card-sm{
    max-width: 400px;
    margin: 30px auto;
    
}

.board-name-container {
    background-color:  rgba(25,220,184,.9);
    margin: 10px 0 0 10px;
}

.main{
    display: grid;
    grid-template-columns: auto auto auto auto; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
}

.Add{
    border: -20px;
    font-size: 50px;
    background-color:  rgba(36,113,137);
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
    color: white;
    font-weight: 800;
    margin-top: 25px;
}
.title{
    color: 	rgb(112,128,144);
}

.task-container{
margin:10px 0 0 100px ;
border: 1px solid  rgba(36,113,137,1);
border-radius:2px;
width: 400px;
background-color: rgba(25,220,184,.9);
}

.name{
    padding: 8px;
}

.tasklist{
    padding: 8px;
}

.actions{
    width: 80px;
font-size: 14px;
border-radius: 0;
background-color: rgba(255, 255, 255, 0);
border: none;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
color: black;
}

.task{
    border: 1px solid lightgrey;
border-radius:2px;
padding: 8px;
margin-bottom: 8px;
}

.progress {
    margin-top: 8px;
}