.image {
    height:30px;
    width: auto;
    border-radius: 100%;
    background-size: cover;
}

.entire-container {
    background-image: url(https://images.pexels.com/photos/2559624/pexels-photo-2559624.png?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    height: 89vh;
    width: auto;
}

.intro-container {
    color:black;
    background-color: rgba(25,220,184,.7);
}

.intro-footer {
    display: flex;
    justify-content: center;   
}

.joke-container {
   display: block;
    word-wrap: break-word;
 
    color: black;
    width: auto;
    
    margin: 40px 120px;
   
    border-radius: 10px;
    
}

.joke-header {
    border: 2px solid rgb(19,95,118);
    border-radius: 10px;
    background-color:  rgba(25,220,184,.7);
}

.joke {
    border: 2px solid rgb(19,95,118) ;
    border-radius: 10px;
    background-color:  rgba(25,220,184,.7);
    
    max-width:auto;
}

span {
    margin: 5px;
}