.image {
    height:30px;
    width: auto;
    border-radius: 100%;
    background-size: cover;
}

.entire-container {
    background-image: url(https://images.pexels.com/photos/2559624/pexels-photo-2559624.png?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    height: 89vh;
    width: auto;
}

.intro-container {
    color:white;
    background-color: rgba(25,220,184,.3);
}

.intro-footer {
    display: flex;
    justify-content: center;   
}

span {
    margin: 5px;
}