.delete{
    width: 80px;
    font-size: 10px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
}

.crd-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin: 10px 0 0 10px;
  
    
}

.board-header {
    /* border: 3px solid red; */
    background-color:  rgba(25,220,184,.7);
    margin-bottom: 30px;
    height: 70px;
}

.eraser {
    height: 35px;
    width: 35px;
    border: 1px solid black;
}

.pencil {
    height: 35px;
    width: 35px;
    border: 1px solid black;

}

.board-crud-image-container {
    display: flex;
    justify-content: space-around;
}

.pencil:hover {
    height:70px;
    width: 70px;
}

.eraser:hover {
    height: 70px;
    width: 70px;
}